<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="assets/normalize.css" media="all, print">
    <link rel="stylesheet" type="text/css" href="assets/grid.css" media="all, print">
    <link rel="stylesheet" type="text/css" href="assets/font-awesome.css" media="all, print">
    <link rel="stylesheet" type="text/css" href="assets/styles.css" media="all, print">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style type="text/css" media="screen">
       <%= code_css  %>
    </style>
  </head>
  <body>
    <div class="container row">
      <header><em><%= title %></em></header>
      <% if toc %>
	<div id="toc">
	  <%= toc %>
	</div>
      <% end %>
      <article>
	<%= body %>
      </article>
    </div> <!-- /container -->
    <footer class="row">
      <p class="grid_10 column">
	<em><%= title %> @ <%= rev %> : <%= last_modified %></em>
      </p>
      <p class="grid_2 column nav">
	<a href="index.html" title="Acceuil" alt="Acceuil"><i class="icon-home"></i></a> |
	<a href="history.html" title="Historique" alt="Historique"><i class="icon-time"></i></a> |
	<a href="#" title="Haut de page"><i class="icon-chevron-up"></i></a>
      </p>
    </footer>
  </body>
</html>
