!!! 5

%html
  %head
    %title= title
    %meta{ "http-equiv" => "Content-Type",    :content => "text/html; charset=utf-8" }
    %link(rel="stylesheet" type="text/css" href="assets/normalize.css" media="all, print")
    %link(rel="stylesheet" type="text/css" href="assets/grid.css" media="all, print")
    %link(rel="stylesheet" type="text/css" href="assets/font-awesome.css" media="all, print")
    %link(rel="stylesheet" type="text/css" href="assets/styles.css" media="all, print")
    %link(rel="stylesheet" type="text/css" href="assets/solarized-light.css" media="all, print")
    -#%style= code_css
  %body
    .container.row
      %header= title
      - if show_toc
        %nav.table-of-contents= toc
      .article= body
      %footer
        %p.column
          %span.revision #{file}@#{rev}
          &nbsp;:&nbsp;
          %span.last_modified=last_modified
        %p.column.nav
          %a(href="index.html" title="Acceuil" alt="Acceuil")
            %i.icon-home
          %a(href="history.html" title="Historique" alt="Historique")
            %i.icon-time
          %a(href="#" title="Haut de page")
            %i.icon-chevron-up
